<div id="apmenu">
     <div style="margin-bottom: 20px">
        <a href="/<?=$controller;?>/index"> View all</a>
     </div>
    <form method="post" action="/<?=$controller;?>/<?=$action;?>/id/<?=$data['id'];?>">
        
            <? foreach($data as $key => $value) :?>
                <div <? if($key == "id"):?> style="display: none;"<?endif;?>>
                    <div style="float:left; margin-top: 2px; margin-right: 5px;"><?= $item ?> <?=$key;?>:</div>
                    <div style="float:left">
                        <input type="text" name="<?=$key;?>" value="<?=$value;?>" />
                    </div>
                    <div class="clear"></div>
                </div>
            <? endforeach; ?>
        
        <div style="margin-top: 20px"><input type="submit" value="Submit" name="submit" /></div>
    </form>
</div>
<div class="clear"></div>